# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
.env/
.venv/
env/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.manifest
*.spec

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Mac/Windows hidden files
.DS_Store
Thumbs.db
